*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone{
    width: 65%;
    padding: 3%;
    border-radius: 21px;
    background-color: white;
}

.message{
    border-radius: 21px;
    background-color: hsl(270, 20%, 96%);
    color: white;
}

.background{
    background-image: linear-gradient(to right, hsl(264, 100%, 61%),  hsl(293, 100%, 63%));
    border-radius: 20px 20px 10px 10px;
}

.camera{
    text-align: center;
    background-color: white;
    width: 50%;
    margin: auto;
    height: 21px;
    border-radius: 0px 0px 15px 15px;
}

.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.leftpart{
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
}

.leftpart img{
    border-radius: 21px;
    border: 2px solid white;
    width: 26px;
}

.description{
    font-size: 10px;
    color:hsl(270, 20%, 96%);
}

.threedots{
    margin-right: 5%;

}

.leftmsg{
    width: 60%;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: lightgray;
    color:  hsl(264, 100%, 61%);
}

.rightmsg{
    width: 60%;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: white;
    color: black; 
}

.right{
    display: flex;
    justify-content: flex-end;
}

.images{
    margin-top: 4%;
    margin-right: 2%;
}

.images img{
    border-radius: 10px;
    width: 55px;
}

.payment{
    padding: 5%;
    font-size: 10px;
    background-image: linear-gradient(to left,  hsl(264, 100%, 61%),  hsl(293, 100%, 63%));
    color: white;
    margin-top: 4%;
    margin-left: 2%;
    width: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.payment p{
    font-size: 16px;
    font-weight: bolder;
}

.middlesend{
    display: flex;
    justify-content: center;
}

.send{
    background-color: white;
    margin-top: 7%;
    padding: 2%;
    margin-bottom: 3%;
    width: 90%;
    border-radius: 30px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.angle-right{
    background-color: purple;
    border-radius: 100px;
    width: 9%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.facts{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     margin-top: 8%;
}

.facts h2{
     font-size: 40px;
}

.facts p{
    width: 80%;
    margin-top: 3%;
    color: grey;
}

.purple{
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    border-radius: 0px 0px 1000px 0px;
    z-index: -1;
}

.grey{
    width: 50%;
    height: 50vh;
    background-color: rgba(240,234,234.0.582);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 1000px 0px;
    z-index: -1;
}

@media only Screen and (min-width: 865px){
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .phone{
        width: 25%;
        padding: .5%;
    }

    .facts{
        width: 35%;
        text-align: left;
        align-items: flex-start;
        margin-left: 10%;
    }

    .purple{
        width: 30%;
        height: 80vh;
        border-radius: 0px 0px 1000px 1000px;
    }

    .grey{
        width: 30%;
        height: 80vh;
        border-radius: 1000px 55px 0px 0px;
    }


}
